/* Colorful-Calcs.com's Cascading StyleSheet */
:root {
  --background-color: #8ECAE6;
  --text-color: #023047;
  --color-1: #219EBC;
  --color-2: #FFB703;
  --color-3: #FB8500;
}


.main-header {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--color-1);
  color: var(--text-color);
  width: 25%;
  border: outset var(--color-1);
  border-radius: 50px;
  cursor: pointer;
}

.calc-main {
  background-color: var(--background-color);
  border: 2px solid var(--text-color);
  font-size: 0px;
  text-align: center;
  width: 80%;
}

.submit-calc, .reset-calc{
  width: 50%;
  border: outset var(--color-2);
  background-color: var(--color-3);
}